@import "reset.css";

/*common*/
h2{font-weight:bold;}
body{
	/*background-color:#ff006c;*/
}
.wrap{
   	max-width:768px;
    border:2px solid grey;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid grey;
}

header .logo{
    height:56px;
}

.contents{padding:10px;}

.contents .logo{
	width:100%;
}

.title{border:0 solid grey;border-width:2px 0 0 0;padding:10px 0;}

.footer{
    padding:10px;
    background-color:#3b5998;
    color:#fff;
}

.footer p{padding:3px 0;}


/*index.html*/


.director{}



.director .director__title{}



.menu_icon{

}
.header__column a:hover{
    color:black;
}
.header__column a:active{
    color:black;
}
.header__column a:link{
    color:black;
}
.header__column a:visited{
    color:black;
}
.menu_list{
	position:absolute;
	right:0px;
	opacity:0.8;
	background-color:#1245AB;
	padding:30px;
	height:920px;
	z-index:100;
}
.info{
	margin-bottom:10px;
}
.menu_list > ul > li{
	margin-bottom:10px;
}
.menu_list > ul > li > a > p{
	text-underline-position:under;
}
.menu_list > ul > li>a:hover{
    color:white;
}
.menu_list > ul > li>a:active{
    color:white;
}
.menu_list > ul > li>a:link{
    color:white;
}
.menu_list > ul > li>a:visited{
    color:white;
}
.wrapper2{
	display:inline-block;
	transition: display 0.5s 1s;
}

.wrapper3{
	display:none;
	overflow:auto;
	transition: display 0.5s 1s;
}


.after__contents{border:2px solid grey; border-radius:8px;}
.after__contents .after__name{padding:10px;}
.after__desc{border-bottom:2px solid grey;padding:10px;}
.after__desc_last{padding:10px;}

.notation{margin-top:10px;border-bottom:2px solid grey;padding-bottom:10px;}
.notation__title{border-bottom:2px solid grey;padding:10px 0;}
.notation ul{padding:10px 0 0;}
.notation ul li{margin:10px 0;background:#BDBDBD;padding:10px;color:#fff;font-weight:700;border-radius:15px;}


/*director_list.html*/

.category_list{
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
	border-bottom:2px solid grey;
}
.director_category_li{
	display:inline-block;
	margin-right:0.7m;
	border:1.5px solid grey;
	border-radius:8px;
	padding:5px;
}

.category__title{border-top:2px solid grey;border-bottom:2px solid grey;padding:10px 0;}

.director_list_table{
	padding-top:10px;
	text-align:center;
}

.director_list_table_li{
	display:inline-block;
}
.director_list_table_li>img{
	width:78px;
}




/*director.html*/

.directorinfo{
	text-align:center;
	padding-bottom:10px;
}
.directorinfo div{
	display:inline-block;
}

.directorinfo img{
	width:80px;
}
.dirinfo{
	display:inline-block;
}
.dirinfo>p:first-child{
	border-bottom:2px solid grey;
	margin-bottom:10px;
}
.sample_list{
	border:1.5px solid grey;
}


/*orderlist.html

.orderinfo{
	text-align:center;
	padding-bottom:10px;
}

.inlinep{
	display:inline-block;
}
.radio input {display: inline-block; padding-right: 10px;}

.sen{
	padding-right:19.77px;
}
.man{
	padding-right:9.67px;
}
.email{
	padding-left:110px;
}
.request{
	padding-right:77px;
}
*/

.dirname{
	text-align:center;
}
.inlineblock{
	border-bottom:1px solid;
}
.inlineblock img{
	width:180px;
}
.dirname p:first-child{
	border-bottom:2px solid grey;
	margin-bottom:10px;
	display:inline-block;
}
.requestform{
	margin-left:20%;
	margin-right:20%;
	padding:5px;
	border:1px solid;
}
.requestform>div>div{
	margin-bottom:10px;
}
.imgdiv{
	text-align:center;
}
.topline{
	border-top:1px solid;
	padding-top:10px;
}
/*director.html

.directorinfo{
   text-align: center;
   padding-bottom:10px;
}
.directorinfo>div{
   display: inline-block;
   width: 330px;
   margin: 0 auto;
}
.directorinfo>div>div:nth-child(1){
    width: 40%;
    float: left;
    text-align: right;
}
.directorinfo>div>div:nth-child(2){
    display: block;
    width: 60%;
    float: right;
    text-align: left;
    padding-left: 5%;
    box-sizing: border-box;
}
.directorinfo img{
   width:80px;
}
.dirinfo{
   display:inline-block;
}
.dirinfo>p:first-child{
   border-bottom:2px solid grey;
}
.sample_list{
   border:1.5px solid grey;
}

*/